<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
    
    .list-group {
        width: 18%;
            }
    .navbar-brand
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
    }
    .navbar-toggle {
        z-index:3;
    }
    
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>    
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a class="navbar-brand" href="{% url 'index' %}">ykea ></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li><a class="navbar-brand">Hola {{request.user}}</a></li>
                {% if money %}
                    <li><a class="navbar-brand">{{money}}€</a></li>
                {% endif %}
                <li><a class="navbar-brand" href="{% url 'logout_view'%}?next={{request.path}}">Log Out</a></li>
            {% else %}
                <li><a class="navbar-brand" href="{% url 'login_view'%}?next={{request.path}}">Log In</a></li>
                <li><a class="navbar-brand" href="{% url 'register'%}?next={{request.path}}">Register</a></li>
            {% endif %}
        </ul>
      </div>
    </nav>
    
    <br>
    <left>
        <label for="Category">Category:  </label> <select id="category">
                        {% if items %}
                                <ul >
                                {% for item, description in items %}
                                    <option value={{item}}>{{item}}</option>
                                {% endfor %}
                                </ul>
                            {% else %}
                                <p>No categories are available.</p>
                            {% endif %}
        
        </select>
    </left>
    <br>
    <left>
        <label for="new">New:  </label>
        <input id="is_new" value="True" type="checkbox">
    </left>

    <!--I use a default value for price-->
    <left>
        <div class="form-row">
            <label for="price">Max price</label>
            <input type="number" value="1000" min="0" step="10" data-number-to-fixed="2" data-number-stepfactor="100" class="currency" id="price"/>
        </div>
    </left>

    <left><button class="btn btn-info btn-sm" onclick="compare(this)">Compare</button></left>
    <br>
	<div id="product"></div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script type="text/javascript">

function compare(){
    var answer='';

    var cat = $('#category').val();
	answer+='&category='+cat;
	
    var price = $('#price').val();
    if(price!==''){
        answer+='&price='+price;
    }
    var n='';
    if($('#is_new').prop('checked')){
        answer+='&new=True';
    }
    else{
        answer+='&new=False';
    }

    $('.product').empty();
    var requests=[];
    var ips =['https://sd2018-ykea-a1.herokuapp.com', 'https://sd2018-ykeaa3.herokuapp.com', 'https://sd2018-ykeaa4.herokuapp.com', 'https://sd2018-ykeaa07.herokuapp.com', 'https://sd2018-ykea-a9.herokuapp.com', 'https://sd2018-ykeaa10.herokuapp.com'];
    var results = [];

    for (var i=0; i<ips.length; i++){
        requests.push(
            $.ajax(
                {url: ips[i]+'/api/items/?'+answer, type: 'GET', dataType: 'json',
                error: function (jqXHR, exception){
                    var msg ='';
                    if(jqXHR.status === 0){
                        msg = 'Not connect.\nVerify Network.';
                    } else if (jqXHR.status === 404){
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status === 500){
                        msg = 'Internal Server Error. [500]'
                    } else if (exception === 'parseerror'){
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout'){
                        msg = 'Time out error.';
                    } else if (exception ==='abort'){
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    er = jqXHR.responseText
                    <!--$("<h3>").text(msg).appendTo("body");-->
                    console.log("Error: "+msg)
                },
                    success: function (data) {
                        for(var i=0; i<data['results'].length;i++){
                            results.push(data['results'][i]);

                        }
                    }


                }
            )
        );
    }
	
	results.sort((a, b) => b - a)
	var name, description, img, price, url;
	for(var i=0; i<results.length;i++){
		name = results[i]['name'];
			description = results[i]['description'];
			price = results[i]['price'];
			img = results[i]['featured_photo'];
			url = results[i]['url']
			
			// Escape them
			name = $("<div/>").text(name).html();
			description = $("<div/>").text(description).html();
			price = $("<div/>").text(price).html();
			
			img = $("<div/>").text(img).html();$("#product").append($("<div class='col-lg-9'>").html("<div class='card mt-4'> <img class='card-img-top img-fluid' src=" + img + " alt=" + name + "><div class='card-body'><h3 class='card-title'>" + name + "</h3><h4>" + price + "€</h4><p class='card-text'>" + description + "</p><p> At <a target='_blank' href='" + url + "'>" + url + "</a>!</p></div></div>"));
	}
}

</script>
