<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
    
    .list-group {
        width: 18%;
            }
    .navbar-brand
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
    }
    .navbar-toggle {
        z-index:3;
    }
    
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>    
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a class="navbar-brand" href="{% url 'index' %}">ykea ></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li><a class="navbar-brand">Hola {{request.user}}</a></li>
                {% if money %}
                    <li><a class="navbar-brand">{{money}}€</a></li>
                {% endif %}
                <li><a class="navbar-brand" href="{% url 'logout_view'%}?next={{request.path}}">Log Out</a></li>
            {% else %}
                <li><a class="navbar-brand" href="{% url 'login_view'%}?next={{request.path}}">Log In</a></li>
                <li><a class="navbar-brand" href="{% url 'register'%}?next={{request.path}}">Register</a></li>
            {% endif %}
        </ul>
      </div>
    </nav>
    
    <form action="/ykea/comparator/">
    <br>
    <left>
        <label for="Category">Category:  </label> <select name="category">
        <option selected value=""> -- </option>
                        {% if items %}
                                <ul >
                                {% for item, description in items %}
                                    <option value=item>{{item}}</option>
                                {% endfor %}
                                </ul>
                            {% else %}
                                <p>No categories are available.</p>
                            {% endif %}
        
        </select>
    </left>
    <br>
    <left>
        <label for="new">New:  </label>
        <input name="is_new" value="True" type="checkbox">
    </left>

    <!--I use a default value for price-->
    <left>
        <div class="form-row">
            <label for="c1">Max price</label>
            <input type="number" value="1000" min="0" step="10" data-number-to-fixed="2" data-number-stepfactor="100" class="currency" id="c1" name="price"/>
        </div>
    </left>

    <left><button value="Compare" class="btn btn-info btn-sm">Compare</button></left>
    <br>
</form>
</body>

<script>

		function display_results(results) {
			// Clear last results
			$("#results").html("");

			if (results.length == 0) {
				$("#results").append($("<h1>").text("Nothing found :("));
				return;
			}
			
			// Sort results by price
			results.sort(function(a, b) {
				var x = parseInt(a['price']);
				var y = parseInt(b['price']);
				return x - y;
			});
			
			// Show results
			var name, description, img, price, origin;
			for (var i=0; i < results.length; i++) {
				name = results[i]['name'];
				description = results[i]['description'];
				price = results[i]['price'];
				img = results[i]['featured_photo'];
				origin = results[i]['origin']
				
				// Escape them
				name = $("<div/>").text(name).html();
				description = $("<div/>").text(description).html();
				price = $("<div/>").text(price).html();
				img = $("<div/>").text(img).html();

				$("#results").append($("<div class='col-lg-9'>").html("<div class='card mt-4'> <img class='card-img-top img-fluid' src=" + img + " alt=" + name + "><div class='card-body'><h3 class='card-title'>" + name + "</h3><h4>" + price + "€</h4><p class='card-text'>" + description + "</p><p> At <a target='_blank' href='http://" + origin + "/ykea'>" + origin + "/ykea</a>!</p></div></div>"));
			}
		}
    
</script>

<script type="text/javascript">

		$('#compare').click(
			function() {
			
				var requests = [];
				var ips = ['sd2018-ykea-a1.herokuapp.com', 'sd2018-ykea-a2.herokuapp.com', 'sd2018-ykeaa3.herokuapp.com', 'sd2018-ykeaa4.herokuapp.com', 'sd2018-ykea5.herokuapp.com', 'sd2018ykeaa6.herokuapp.com', 'sd2018-ykeaa07.herokuapp.com', 'sd2018-ykeaa8.herokuapp.com', 'sd2018-ykea-a9.herokuapp.com', 'sd2018-ykeaa10.herokuapp.com', 'sd2018ykeaa11.herokuapp.com'];
				var results = [];
				var ips_resolved = 0;
				
				var category = $("#categorySelect option:selected").val();
				var price = $("#price").val() ;
				
				var query_parameters = "?category=" + category;
				
				if ($("#new").is(":checked")) {
					query_parameters += "&new=yes";
				}
				
				if (price && price > 0) {
					query_parameters += "&price=" + price;
				}
				
				for (var i=0; i < ips.length; i++) {
					
					requests.push(
						$.ajax(
							{
								url: 'https://' + ips[i] + '/api/items/' + query_parameters,
								type: 'GET',
								dataType: 'json',
								success: 
								function(data) {
									for (var j=0; j < data['results'].length; j++) {
										// Origin is the ip but removing http:// and everything after the first /
										if (data['results'][j]['url'] !== undefined) {
											data['results'][j]['origin'] = data['results'][j]['url'].slice(8, data['results'][j]['url'].indexOf('/', 8));
										}
										else {
											data['results'][j]['url'] = 'Not defined';
										}
										
										results.push(data['results'][j]);
									}
									
									ips_resolved += 1;
						
									console.log("Ips resolved: " + ips_resolved);
									
									// Check if all ips have been resolved
									if (ips_resolved == ips.length) {
										display_results(results);
									}
								},
								error:
								function() {
									ips_resolved += 1;
						
									console.log("Error with some IP.");
									
									// Check if all ips have been resolved
									if (ips_resolved == ips.length) {
										display_results(results);
									}
								},
								timeout: 3000
							}
						)
					);
				}
			}
		)
	
</script>
