<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
    
    .list-group {
        width: 18%;
            }
    .navbar-brand
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
    }
    .navbar-toggle {
        z-index:3;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>    
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
			<li><a class="navbar-brand" href="{% url 'comparator' %}">Comparator</a></li>
            <li><a class="navbar-brand" href="{% url 'index' %}">ykea ></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li><a class="navbar-brand">Hola {{request.user}}</a></li>
                {% if money %}
                    <li><a class="navbar-brand">{{money}}€</a></li>
                {% endif %}
                <li><a class="navbar-brand" href="{% url 'bills' %}">History</a></li>
                <li><a class="navbar-brand" href="{% url 'logout_view'%}?next={{request.path}}">Log Out</a></li>
            {% else %}
                <li><a class="navbar-brand" href="{% url 'login_view'%}?next={{request.path}}">Log In</a></li>
                <li><a class="navbar-brand" href="{% url 'register'%}?next={{request.path}}">Register</a></li>
            {% endif %}
        </ul>
      </div>
    </nav>
    
    <div class="list-group">
    {% if items %}
            <ul >
            {% for item, description in items %}
                <li class="list-group-item"><a href="{% url 'items' item%}"> {{item}} </a> : {{description}} </a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No categories are available.</p>
        {% endif %}
    </div>
    
    
</body>
